* {
    box-sizing: border-box;
}

.myself a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 80px;
    color: white;
}

header {
    padding: 5px;
    background-color: rgb(17, 124, 143);
}

nav {
    background-color: #333;
    padding: 20px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

a:hover {
    color: rgb(59, 59, 211);
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
}

footer a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

main section h3 {
    color: coral;
}